<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список статей</title>
  </head>
  <body>
    <h1>Список статей</h1>

    <!-- Ссылка для перехода к созданию новой новости -->
    <a href="{% url 'create_news' %}">Добавить новость</a>

    <ul>
      <!-- Цикл для отображения каждой статьи в списке -->
      {% for article in articlesscilk %}
      <li>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <p><em>Опубликовано: {{ article.created_at }}</em></p>
      </li>
      {% empty %}
      <p>Пока нет статей.</p>
      {% endfor %}
    </ul>
  </body>
</html>
