{% extends "base.html" %}

{% block title %}Список статей{% endblock %}

{% block urlpage %}
  <a href="{% url 'create_news' %}">Добавить новость</a>
{% endblock %}

{% block content %}
<ul>
  <!-- Цикл для отображения каждой статьи в списке -->
  {% for article in articlesscilk %}
    <li>
      <h2>{{ article.title }}</h2>
      <p>{{ article.content }}</p>
      <p><em>Опубликовано: {{ article.created_at }}</em></p>
    </li>
    {% empty %}
      <p>Пока нет статей.</p>
  {% endfor %}
</ul>
{% endblock %}
