{% extends "base.html" %} 

{% block title %}Список статей{% endblock %}

{% block urlpage %} 
<a class="nav-link" href="{% url 'create_news' %}">Добавить новость</a>
{% endblock %}


{% block content %}
<ul>
  <!-- Цикл для отображения каждой статьи в списке -->
  {% for article in page_obj %}
  <li>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <p class="text-right text-red-400" ><em>Опубликовано: {{ article.created_at }}</em></p>
  </li></br>
  
  {% empty %}
  <p>Пока нет статей.</p>
  {% endfor %}
</ul>

 <!-- Постраничная навигация -->
 <div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1" class="pagination-link">Первая</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Предыдущая</a>
  {% endif %}

  <span class="pagination-current">
    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
  </span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Следующая</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Последняя</a>
  {% endif %}
</div>
{% endblock %}
