{% extends "base.html" %} 

  
      {% block header %}
      Создать новый пост
      {% endblock%}

      {% block content %}
      <form method="post" class="bg-white  p-8 rounded-lg shadow-md">
        {% csrf_token %} {{ form.non_field_errors }}

        <!-- Поле заголовка -->
        <div class="mb-4">
          <label for="id_title" class="block text-gray-700 font-semibold mb-2"
            >Заголовок</label
          >
          {{ form.title }} {{ form.title.errors }}
        </div>

        <!-- Поле содержания -->
        <div class="mb-6">
          <label for="id_content" class="block text-gray-700 font-semibold mb-2"
            >Содержание</label
          >
          {{ form.content }} {{ form.content.errors }}
        </div>

        <!-- Чекбокс для публикации -->
        <div class="mb-4">
          <label class="inline-flex items-center">
            {{ form.is_published }}
            <span class="ml-2 text-gray-700">Опубликовать</span>
          </label>
        </div>

        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Создать
        </button>
      </form>
      <a href="{% url 'post_list'  %}">Подробнее о посте</a>
      {% endblock %}
    
    

